@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

h3 {
    color: rgb(56, 56, 230);
}
body{
  display: flex; 
     /* flex-direction: row;  */
    flex-wrap: wrap; 
}
.cards {
    /* display: contents; */
    /* display: none; */
    /* display: block; */
    /* display: inline-block; */
    flex-grow: 1;
    border: 1px solid white;
    box-shadow: 0px 0px 80px 0px grey;
    width: 350px;
    height: 250px;
    text-align: center;
    padding: 0px;
    /* margin: 20px; */
    /* margin: 20px 20px 20px 20px; */
}
.cards img{
    height: 50px;
    width: 50px;
}
