
*{
    background-image: url(https://e0.pxfuel.com/wallpapers/149/259/desktop-wallpaper-web-design-web-developer.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color:rgb(6, 136, 138);
}

.demo{
    margin-left: 320px;
    color: aliceblue;
    text-align: center;
    margin-top: 100px;
    width: 50%;
}




